<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <form method="POST" action="/team">
        <label>Team Name:</label> 
        <input name="name" /><br />

        <label>Coach:</label> 
        <input name="coach" /><br />

        <label>Point Guard:</label> 
        <input name="pg" /><br />

        <label>Shooting Guard:</label> 
        <input name="sg" /><br />

        <label>Power Forward:</label> 
        <input name="pf" /><br />

        <label>Small Forward:</label> 
        <input name="sf" /><br />

        <label>Center:</label> 
        <input name="c" /><br />

        <input id='submit' name="submit" type='submit' value="Submit">
    </form>

 </body>
</html>


